.ih-ctn{
  box-sizing: border-box;
}
.ih-ctn .logo-ctn a img{
  display: flex;
}

/**/
.ih-clearfix:after, .ih-clearfix:before {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  width: 100%;
  line-height: 0;
  overflow: hidden
}

.ih-layout {
  position: relative;
  z-index: 100;
}

.ih-sticky {
  top: auto;
  width: 100%;
  z-index: 9998;
  animation: none;
  transform: none;
  position: fixed;
}

.ih-wide {
  margin: 0 auto;
}

.ih-area:hover .shiftclick {
  display: block;
}

@media (min-width:783px) {
  .ih-content {
    display: flex;
    align-items: center;
  }

  .ih-area {
    flex: initial;
    position: relative;
  }

  .ih-area-menu .navigation-in ul.responsi-menu {
    top: 0 !important;
    display: inline-block !important;
  }
  .ih-area-menu {
    top:auto !important;
  }

}

@media only screen and (min-width:600px) and (max-width:782px) {
  .ih-content {
    display: flex;
    align-items: center;
    position: relative;
  }

  .ih-area {
    flex: initial;
    position: relative;
    line-height: 0
  }

  .ih-area .navigation-in {
    width: auto;
    display: inline-block;
  }

  .ih-area .navigation-in .menu-text {
    display: none !important;
  }

  #ih-area-1 {
    text-align: left;
  }

  .ih-area-menu .navigation-in ul.responsi-menu {
    position: fixed;
    right: 0;
    max-height: 50vh;
    overflow-y: scroll;
  }

  .hasSticky .ih-area-menu .navigation-in ul.responsi-menu {
    position: fixed;
    right: 0;
  }

  a .phonenumber {
    display: none;
  }

  .ih-ctn .navigation-in ul.responsi-menu{
      transition: none !important;
  }

  .ih-area-menu {
    text-align: right;
    position: absolute;
    right: 0;
    top:auto;
  }

  .ih-layout:not(.ihSticky) .stickyMenu{
    position: fixed !important;
  }

  .ih-layout.ihSticky .ih-ctn:not(.ih-tablet-nonsticky) .stickyMenu{
    top:auto !important;
  }

  .ih-layout.ihSticky .ih-tablet-nonsticky{
    position: relative !important;
    top:auto !important;
  }

  .ih-layout.ihSticky .ih-tablet-nonsticky .stickyMenu{
    position: fixed !important;
  }

}

@media (max-width:600px) {
  .ih-content {
    display: flex;
    align-items: center;
    position: relative;
  }

  .ih-area {
    flex: initial;
    position: relative;
    line-height: 0
  }

  .ih-area .navigation-in {
    width: auto;
    display: inline-block;
  }

  .ih-area .navigation-in .menu-text {
    display: none !important;
  }

  #ih-area-1 {
    text-align: left;
  }

  .ih-area-menu .navigation-in ul.responsi-menu {
    position: fixed;
    right: 0;
    max-height: 50vh;
    overflow-y: scroll;
  }

  .admin-bar:not(.hasSticky) .ih-area-menu .navigation-in ul.responsi-menu {
    
  }

  .hasSticky .ih-area-menu .navigation-in ul.responsi-menu {
    position: fixed;
    right: 0;
  }

  a .phonenumber {
    display: none;
  }

  .ih-ctn .navigation-in ul.responsi-menu{
      transition: none !important;
  }

  .ih-area-menu {
    text-align: right;
    position: absolute;
    right: 0;
    top:auto;
  }

  .ih-layout:not(.ihSticky) .stickyMenu{
    position: fixed !important;
  }

  .ih-layout.ihSticky .ih-ctn:not(.ih-mobile-nonsticky) .stickyMenu{
    top:auto !important;
  }

  .ih-layout.ihSticky .ih-mobile-nonsticky{
    position: relative !important;
    top:auto !important;
  }

  .ih-layout.ihSticky .ih-mobile-nonsticky .stickyMenu{
    position: fixed !important;
  }
}

